<%-include('header.ejs')%>


    <h1> 즐겨찾기 목록 </h1>

<table border=1>
    <tr>
        <th> 목록</th>
        <th> 회사(주식이름)</th>
        <th> 주식코드</th>
    </tr>

    <% lists.forEach(function(item){ %>
    <tr>
        <td> <%=item.idx%> </td>
        <td> <%=item.title%> </td>
        <td> <%-item.code.replaceAll("\n","<br>")%> </td>
        <td> <a href="/addfavoriteDelete?idx=<%=item.idx%>" onclick="return confirm('정말 삭제할까요?')">삭제</a></td>

    </tr>

    <% }) %>

</table>

<%-include('footer.ejs')%>