<%- include('header.ejs') %>

<!DOCTYPE html>
<html>
<head>
    <title>주요지수 - 실시간</title>
</head>
<body>

<h1>주요지수 데이터 파일</h1>

<ul>
    <% for(let stock of mainstocksInfo){ %>
        <li><%= stock.name %> : <%= stock.value %>
            <!-- Add a link to download the CSV file -->
            (<a href="/download/<%= stock.name %>_data.csv">Download CSV</a>)
        </li>
    <% } %>
</ul>

</body>
</html>

<%- include('footer.ejs') %>

