<%- include('header.ejs') %>

<!-- 파일명: stocks.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Information</title>
</head>
<body>
<form action="/getStockInfo" method="post">
    <label for="stockName">종목 검색:</label>
    <input type="text" id="stockName" name="stockName" required>
    <button type="submit">종목 가져오기</button>
</form>


<% if (stockInfo) { %>
    <h2><%= stockInfo.stockName %> (종목코드: <%= stockInfo.stockCode %>)</h2>
    <p>현재 금액 (실시간): <%= stockInfo.currentPrice %>원</p>
    <p>변화폭: <%= stockInfo.change %>원</p>
    <p>변화율: <%= stockInfo.changePercentage %>%</p>

    <!-- Add sentiment analysis result -->
    <p>감성 분석 결과: <%= stockInfo.sentiment == 1 ? '긍정적입니다. 매수를 추천합니다.' : '부정적입니다. 매수를 추천하지 않습니다.' %></p>

    <!-- Add predicted prices -->
    <% for(let i = 1; i <= 5; i++) { %>
        <p>여기는 5일치 결과값입니다.</p>
        <% const dayKey = 'day' + i + '_5PredictedPrice'; %>
        <% if(stockInfo[dayKey]) { %><br/>
        <p><%= i %>일 후 예상가격(5일치): <%= stockInfo[dayKey] %>원 </p>
        <% }%>
    <% }%>

    <% for(let i = 1; i <= 10; i++) { %>
        <p>여기는 10일치 결과값입니다.</p>
        <% const dayKey = 'day' + i + '_10PredictedPrice'; %>
        <% if(stockInfo[dayKey]) { %><br/>
        <p><%= i %>일 후 예상가격(10일치): <%= stockInfo[dayKey] %>원 </p>
        <% }%>
    <% }%>

    <!-- Add favorite status -->
    <% if (stockInfo.isFavorite) { %>
        <p>즐겨찾기에 등록된 종목입니다.</p>
    <% } else { %>
        <p>즐겨찾기에 등록되지 않은 종목입니다.</p>
    <% } %>

    <!-- Add news search links -->
    <p><a href="<%= stockInfo.newsUrl %>">관련 뉴스 보기 - MK News </a></p>

    <!-- Add magazine search link -->
    <p><a href="<%= stockInfo.magazineUrl %>">관련 뉴스 보기 - Hankyung Magazine </a></p>

    <!-- Add economist search link -->
    <p><a href="<%= stockInfo.economistUrl %>">관련 뉴스 보기 - Economist </a></p>

<% } else { %>

    <p>검색하실 종목을 입력해주세요.</p>

<% } %>


<!-- 기본 버튼 타입 사용, onclick 이벤트로 페이지 이동 처리 -->
<button type="button" onclick="location.href='/addfavoriteList'" style="display:block;margin-top:20px;">즐겨찾기 종목 보기
</button>


</body >
</html >

<%- include('footer.ejs') %>


